@font-face {
  font-family: "playlistscript";
  src: url("../fonts/playlist_script-webfont.woff2") format("woff2"),
    url("../fonts/playlist_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.playlistscript {
  font-family: "playlistscript";
}

.cormorant {
  font-family: "CormorantGaramond";
}
