@font-face {
  font-family: "playlistscript";
  src: url("../fonts/playlist_script-webfont.woff2") format("woff2"),
    url("../fonts/playlist_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

footer {
  background-color: #d9d9d9 !important;
}

.playlistscript {
  font-family: "playlistscript";
}

.cormorant {
  font-family: "CormorantGaramond";
}

#home {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.is-size-jumbo {
  font-size: 8rem;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  line-height: 1.2;
}

.supsub sup {
  font-size: 3.5rem;
}

.supsub sub {
  font-size: 2rem;
}

.black-shadow {
  text-shadow: 1px 1px 1px #000;
}

.flat-icon {
  width: 3rem;
}

/** ANIMATIONS **/

#home > div > div,
#home > div > p {
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navbar-menu.is-active {
  animation: navFadeIn 0.2s ease-in-out;
}

/** KEYFRAMES FOR ANIMATION **/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
}
