@font-face {
  font-family: "playlistscript";
  src: url("../fonts/playlist_script-webfont.woff2") format("woff2"),
    url("../fonts/playlist_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
#modal_id>div.modal-content::-webkit-scrollbar,
.my-modal>div.modal-content::-webkit-scrollbar {
  display: none;
}

footer {
  background-color: #d9d9d9 !important;
}

.playlistscript {
  font-family: "playlistscript";
}

.cormorant {
  font-family: "CormorantGaramond";
}

#home {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.is-size-jumbo {
  font-size: 8rem;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  line-height: 1.2;
}

.supsub sup {
  font-size: 3.5rem;
}

.supsub sub {
  font-size: 2rem;
}

.black-shadow {
  text-shadow: 1px 1px 1px #000;
}

.black-shadow-box {
  box-shadow: 2px 2px 1px #75776397;
}

.flat-icon {
  width: 3rem;
}

.my-modal-trigger {
  cursor: pointer;
}

.card-footer-item {
  color: #000 !important;
}

.card-footer-item:hover {
  color: #75776397 !important;
}

/** ANIMATIONS **/

#home>div>div {
  animation: fade-in ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#home>div>p {
  animation: fade-in ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#welcome {
  animation: fade-in ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#modal_id>div.modal-content {
  animation: fade-in ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.zoom {
  animation: zoom 0.6s;
}

/**
body > section:nth-child(3) > div > div > div:nth-child(1) > div:nth-child(1) {
  animation: fade-left 1s ease-in;
}

body > section:nth-child(3) > div > div > div:nth-child(1) > div:nth-child(2) {
  animation: fade-bottom 1s ease-in;
}

body > section:nth-child(3) > div > div > div:nth-child(1) > div:nth-child(3) {
  animation: fade-right 1s ease-in;
}
**/

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-in {
  animation: fade-in ease 1s;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.active.fade-zoom {
  animation: zoom 0.6s;
}

@media screen and (min-width: 1024px) {

  .navbar-item:hover,
  .navbar-link:hover {
    background-color: #b4b0a3;
    transition: 0.8s;
  }
}

/** KEYFRAMES FOR ANIMATION **/

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes nav-fade {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 396px;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}